# Looking at Journals

In [4]:
import os
import pandas as pd

os.chdir('/Users/timothyelder/Documents/mag')
journals = pd.read_csv('data/journals.csv')

In [5]:
journals.head()

   Unnamed: 0  JournalId                            NormalizedName
0           1    1137746    the artist and journal of home culture
1           4    3164724                 physiological measurement
2           5   17807283            theoretical population biology
3           6   18204665  international journal of multiphase flow
4           7   27908409                acta veterinaria hungarica

In [26]:
journals[journals['JournalId'] == 157620343]

       Unnamed: 0  JournalId                NormalizedName
13615       47297  157620343  american sociological review

In [13]:
top_ten = [202381698, 2751751161, 3121261024, 130611943,  125754415,  4789869, 157620343, 106822843, 168049282, 3880285]
journals[journals['JournalId'].isin(top_ten)]

,Unnamed: 0,JournalId,NormalizedName
674,2275,130611943,social forces
819,2792,3880285,science
1188,4012,106822843,social science & medicine
3005,10296,4789869,contemporary sociology
4532,15446,3121261024,research papers in economics
6512,22165,2751751161,social science research network
10210,35408,168049282,american journal of public health
10969,38110,125754415,proceedings of the national academy of science...
12420,43262,202381698,plos one
13615,47297,157620343,american sociological review

In [ ]:
journals[journals['JournalId'] == 157620343]