In [1]:
import re 
import os 
import pandas as pd

In [2]:
authors2papers = pd.read_csv('data/filtered_authors2papers.csv')
authors2papers = authors2papers.drop(columns = "Unnamed: 0")

In [3]:
authors_df = pd.read_csv('data/filtered_authors.csv')
authors_df = authors_df.drop(columns='Unnamed: 0')
authors_df

,AuthorId,Rank,NormalizedName,DisplayName,LastKnownAffiliationId,PaperCount,PaperFamilyCount,CitationCount,CreatedDate
0,184369,15782,charles kurzman,Charles Kurzman,114027177.0,79,79,1497,2016-06-24
1,2033759,18047,georgi derluguian,Georgi Derluguian,111979921.0,16,16,71,2016-06-24
2,3974438,15744,miguel korzeniewicz,Miguel E. Korzeniewicz,NaN,3,3,1500,2016-06-24
3,6101366,16127,joanna dreby,Joanna Dreby,392282.0,56,56,1507,2016-06-24
4,6937523,18139,sharon koppman,Sharon Koppman,204250578.0,17,17,92,2016-06-24
...,...,...,...,...,...,...,...,...,...
94872,3187036690,20058,lu zhang,Lu Zhang,19820366.0,2,2,4,2021-08-02
94873,3187054006,20504,lei zhang,Zhang Lei,NaN,2,2,0,2021-08-02
94874,3187065423,19736,wei zhang,Wei Zhang,NaN,2,2,23,2021-08-02
94875,3187073076,19582,wei zhang,Wei Zhang,141649914.0,2,2,58,2021-08-02
94876,3187075334,18246,wei zhang,Wei Zhang,183067930.0,8,8,117,2021-08-02

In the next two cells we can see a burgeoning problem, there are far fewer unique NormalizedNames than there are unique AuthorIds. This means that we have duplicate names and no way of really disambiguating who is the right AuthorId to include in our data set. There is a further problem that I think that some people are duplicated and both AuthorIds refer to the proper person that should be in our dataset. For example, there are two "Jenny Trinitapolis" with their own unique AuthorIds but I think both of them refer to the Jenny we all know and love.

In [4]:
len(set(authors_df['NormalizedName']))

3222

In [5]:
len(set(authors_df['AuthorId']))

94877

In [6]:
# Load faculty data from network dataset
faculty_df_complete = pd.read_csv("data/faculty_df_complete.csv")

faculty_names = faculty_df_complete['faculty_name'].to_list()

# reorient names from "Lastname, Firstname"
# to "firstname lastname" form to match MAG data

pattern = r'(.+\,)(.+)' # regex for matching the first name and last name
aux_pattern = '(\S+)(.+)' # extra pattern for when the above doesn't match

# for index and name in faculty names
for idx,i in enumerate(faculty_names):
    i = re.sub(r';|:', ',', i) # replace semi-colons with commas
    # match regex to the file_name string
    if re.search(pattern, i) == None:
        match = re.search(aux_pattern, i)
        new_name = match.group(2) + ' ' + match.group(1)
        new_name = re.sub('\/', 'l', new_name, count=1) # replaces / for l, a common error
        new_name = re.sub('\,', '', new_name, count=1) # remove comma
        new_name = new_name.lower() # lower case
        new_name = new_name.strip() # strip whitespace

        faculty_names[idx] = new_name # substitute original name with normalized name

    else:
        # match regex to the file_name string
        match = re.search(pattern, i)

        new_name = match.group(2) + ' ' + match.group(1)
        new_name = re.sub('\/', 'l', new_name, count=1) # replaces / for l, a common error
        new_name = re.sub('\,', '', new_name, count=1) # remove comma
        new_name = new_name.lower() # lower case
        new_name = new_name.strip() # strip whitespace

        faculty_names[idx] = new_name # substitute original name with normalized name

In [8]:
len(set(faculty_names))

7995

In [9]:
faculty_names

['jurg siegenthaler',
 'leon e. clark',
 'gloria (gay) a. young',
 'russell stone',
 'bette j. dickerson',
 'esther ngah-ling chow',
 'samih k. farsoun',
 'kenneth c. kusterer',
 'kinuthia macharia',
 'robert d. manning',
 'karen k. petersen',
 'salvador vidal-ortiz',
 'michelle newton francis',
 'ibtisam ibrahim',
 'chenyang xiao',
 'natalia ruiz junco',
 'michael bader',
 'monica biradavolu',
 'alan dahl',
 'randa serhan',
 'michelle newton francis',
 'chenyang xiao',
 'monica biradavolu',
 'michael bader',
 'randa serhan',
 'michelle newton francis',
 'alan dahl',
 'natalia ruiz junco',
 'jimi adams',
 'chenyang xiao',
 'michelle newton francis',
 'randa serhan',
 'monica biradavolu',
 'alan dahl',
 'chenyang xiao',
 'jimi adams',
 'michael bader',
 'natalia ruiz junco',
 'nicole angotti',
 'kim m blankenship',
 'michelle newton francis',
 'michael bader',
 'chenyang xiao',
 'bette dickerson',
 'randa serhan',
 'andrea malkin brenner',
 'salvador vidal-ortiz',
 'monica biradavolu',
 'susan mcdonic',
 'ernesto castaneda',
 'michael bader',
 'randa serhan',
 'gay young',
 'molly dondero',
 'angela luvara',
 'chenyang xiao',
 'jerri husch',
 'michelle newton francis',
 'salvador vidal-ortiz',
 'nicole angotti',
 'kim m blankenship',
 'susan mcdonic',
 'kimberlee holland',
 'deanna kerrigan',
 'alexandrea rich',
 'ernesto castaneda',
 'chenyang xiao',
 'michael bader',
 'susan mcdonic',
 'celine-marie pascale',
 'nicole angotti',
 'ernesto castaneda',
 'angela luvara',
 'molly dondero',
 'kim m. blankenship',
 'salvador vidal-ortiz',
 'michelle newton francis',
 'gay young',
 'cecilia menjivar',
 'deborah a. sullivan',
 'josea cobas',
 'sarah hayford',
 'david schaefer',
 'victor agadjanian',
 'matthew pittinsky',
 'jennifer e. glick',
 'steven haas',
 'jimi adams',
 'stephen s. kulis',
 'jennie kronenfeld',
 'scott yabiku',
 'julia burkart',
 'larry salinger',
 'mary donaghy',
 'patricia freudiger',
 'wayne johnston',
 'jack dison',
 'jerry king',
 'marjorie franken',
 'arthur wilke',
 'geneva l. brown',
 'tamryn j. etten',
 'john e. dunkelberger',
 'paul d. starr',
 'charles e. faupel',
 'mary m. cameron',
 'conner bailey',
 'kelly d. alley',
 'gregory s. kowalski',
 'penelope hanke',
 'murray c. adams',
 'raj p. mohan',
 'mayling m. chu',
 'lone y. deollos',
 'stephen d. johnson',
 'john g. condran',
 'joseph b. tamney',
 'ronald burton',
 'richard a. bogg',
 'fang gong',
 'melinda j. messineo',
 'rachel m. kraus',
 'lisa a. pellerin',
 'ellen whitehead',
 'mellisa k. holtzman',
 'richard j. petts',
 'chadwick l. menning',
 'michelle poole',
 'roger a. wojtkiewicz',
 'jun xu',
 'kimberly hennessee',
 'sara collas',
 'john w. fox',
 'dennis r. myers',
 'tillman rodabough',
 'j. larry lyon',
 'preston m. dyer',
 'harold w. osborne',
 'ben e. dickerson',
 'garrett w. cook',
 'susan wallace',
 'kathryn mueller',
 'david woody',
 'ross d. staton',
 'debra woody',
 'martha gault sherman',
 'ii tolbert charles m.,',
 'f. carson mencken',
 'jerry z. park',
 'kyle inlvin',
 'larry j. lyon',
 'jeremy e. uecker',
 'robyn driskell',
 'paul froese',
 'diana e. kendall',
 'sung joon jang',
 'kevin d. daugherty',
 'paul froese',
 'matt bradshaw',
 'jerry z. park',
 'kevin d. daugherty',
 'kyle irwin',
 'christopher pieper',
 'jeremy e. uecker',
 'larry j. lyon',
 'charles m. ii tolben‘',
 'robyn driskell',
 'f. carson mencken',
 'diana e. kendall',
 'man‘ha gault sherman',
 'ii tolbert charles m.,',
 'robyn driskell',
 'lindsay r. wilkinson',
 'christopher pieper',
 'matthew andersson',
 'jerry z. park',
 'paul froese',
 'kevin d. dougherty',
 'larry j. lyon',
 'jeremy e. uecker',
 'matt bradshaw',
 'diana e. kendall',
 'kevin d. dougherz‘y',
 'paul froese',
 'f. carson mencken',
 'diana e. kendall',
 'jeremy e. uecker',
 'larry j. lyon',
 'robyn driskell',
 'matthew andersson',
 'lindsay r. wilkinson',
 'mackenzie brewer',
 'christopher pieper',
 'george yancey',
 'll tolbert charles m.,',
 'jerry z. park',
 'matthew andersson',
 'kevin d. dougherty',
 'christopher pieper',
 'robyn driskell',
 'jeremy e. uecker',
 'george yancey',
 'laura upenieks',
 'mackenzie brewer',
 'diana e. kendall',
 'jerry z. park',
 'larry j. lyon',
 'paul froese',
 'jerry z. park',
 'paul froese',
 'f. carson mencken',
 'kyle irwin',
 'martha gault sherman',
 'rodney stark',
 'bryon r. johnson',
 'charles m. ii talbert',
 'sung joon jang',
 'kevin d. daugherty',
 'diana e. kendall',
 'robyn driskell',
 'larry j. lyon',
 'christopher d. bader',
 'kyle irwin',
 'jeremy e uecker',
 'diana e. kendall',
 'charles m. ii tolbert',
 'kevin d. daugherty',
 'martha gault sherman',
 'jerry z. park',
 'larry j. lyon',
 'sung joon jang',
 'f. carson mencken',
 'robyn driskell',
 'paul froese',
 'charles m. ii tolbert',
 'kevin d. daugherty',
 'sung joon jang',
 'kyle irwin',
 'jerry z. park',
 'f. carson mencken',
 'martha gault sherman',
 'paul froese',
 'bryon r. johnson',
 'diana e. kendall',
 'christopher d. bader',
 'rodney stark',
 'larry j. lyon',
 'william martin',
 'mahua sarkar',
 'dale tomich',
 'juanita diaz',
 'richard lee',
 'benita roth',
 'ravi palat',
 'gladys jimenez-munoz',
 'leslie gates',
 'denis o’hearn',
 'kelvin santiago-valles',
 'frederic c. deyo',
 'michael west',
 'frederic c. deyo',
 'william martin',
 'ravi palat',
 'leslie gates',
 'richard lee',
 'benita roth',
 'mahua sarkar',
 'juanita diaz',
 'gladys jimenez-munoz',
 'denis o’hearn',
 'kelvin santiago-valles',
 'dale tomich',
 'richard lee',
 'gladys jimenez-munoz',
 'leslie gates',
 'juanita diaz',
 'denis o’hearn',
 'kelvin santiago-valles',
 'mahua sarkar',
 'benita roth',
 'william martin',
 'frederic c. deyo',
 'dale tomich',
 'ravi palat',
 'leslie gates',
 'juanita diaz',
 'gladys jimenez—munoz',
 'dale tomich',
 'william martin',
 'mahua sarkar',
 'benita roth',
 'richard lee',
 'kelvin santiago-valles',
 'jason w moore',
 'frederic c. deyo',
 'denis o’hearn',
 'ravi palat',
 'denis o’hearn',
 'ravi palat',
 'juanita diaz',
 'frederic c. deyo',
 'kelvin santiago-valles',
 'william martin',
 'gladys jimenez-munoz',
 'jason w. moore',
 'mahua sarkar',
 'dale tomich',
 'leslie gates',
 'benita roth',
 'richard lee',
 'mahua sarkar',
 'richard lee',
 'dale tomich',
 "denis o'hearn",
 'gladys jimenez-munoz',
 'kelvin santiago-valles',
 'jason w. moore',
 'ana maria candela',
 'juanita diaz',
 'frederic c. deyo',
 'ravi palat',
 'benita roth',
 'leslie gates',
 'ritchie lowry',
 'john williamson',
 'stephen j. pfohl',
 'william a. harris',
 'lynda lytle holmstrom',
 'william a. gamson',
 'michael a. malec',
 'severyn bruyn',
 'jeanne guillemin',
 'david h. smith',
 'paul s. gray',
 'seymour leventman',
 'charles derber',
 'eve spangler',
 'paul g. schervish',
 'stephen j. pfohl',
 'ritchie lowry',
 'brian gareau',
 'shawn c. mcguffey',
 'natalia sarkisian',
 'eve spangler',
 'john williamson',
 'michaela. malec',
 'elizabeth dodson',
 'sarah l. babb',
 'william gamson',
 'zine magubane',
 'charles derber',
 'sharlene j. hesse-biber',
 'sara moorman',
 'leslie salzinger',
 'juliet b. schor',
 'paul g. schervish',
 'paul 8. gray',
 'david karp',
 'natalia sarkisian',
 'michaela. malec',
 'zine magubane',
 'leslie salzinger',
 'eva garroutte',
 'john williamson',
 'shawn c. mcguffey',
 'william gamson',
 'sara moorman',
 'brian gareau',
 'charles derber',
 'sharlene j. hesse-biber',
 'eve spangler',
 'paul g. schervish',
 'juliet b. schor',
 'sarah l. babb',
 'elizabeth dodson',
 'paul 8. gray',
 'david karp',
 'ritchie lowry',
 'stephen j. pfohl',
 'zine magubane',
 'eve spangler',
 'john williamson',
 'paul 8. gray',
 'charles derber',
 'natalia sarkisian',
 'eva garroutte',
 'paul g. schervish',
 'sharlene j. hesse-biber',
 'brian gareau',
 'william gamson',
 'juliet b. schor',
 'elizabeth dodson',
 'sara moorman',
 'shawn c. mcguffey',
 'sarah l. babb',
 'stephen j. pfohl',
 'michaela. malec',
 'paul 8. gray',
 'eva garroutte',
 'paul g. schervish',
 'shawn c. mcguffey',
 'sarah l. babb',
 'william gamson',
 'charles derber',
 'natalia sarkisian',
 'stephen j. pfohl',
 'michael a. malec',
 'elizabeth dodson',
 'kimberly hoang',
 'zine magubane',
 'juliet b. schor',
 'sherlene j. hesse—biber',
 'john williamson',
 'eve spengler',
 'sara moorman',
 'brian gareau',
 'sara moorman',
 'zine magubane',
 'paul 8. gray',
 'brian gareau',
 'john williamson',
 'elizabeth dodson',
 'william gamson',
 'sarah l. babb',
 'michael a. malec',
 'stephen j. pfohl',
 'juliet b. schor',
 'sharlene j. hesse-biber',
 'eva garroutte',
 'paul g. schervish',
 'shawn c. mcguffey',
 'eve spangler',
 'kimberly hoang',
 'natalia sarkisian',
 'charles derber',
 'eve spengler',
 'brian gareau',
 'sarah l. babb',
 'andrew k. jorgenson',
 'john williamson',
 'william gamson',
 'michaela. malec',
 'natalia sarkisian',
 'sara moorman',
 'shawn c. mcguffey',
 'stephen j. pfohl',
 'juliet b. schor',
 'charles derber',
 'paul 8. gray',
 'wen fan',
 'brian gareau',
 'shawn c. mcguffey',
 'sharlene j. hesse-biber',
 'julia chuang',
 'andrew k. jorgenson',
 'charles derber',
 'wen fan',
 'eve spengler',
 'gustavo morello',
 'sara moorman',
 'natalia sarkisian',
 'stephen j. pfohl',
 'juliet b. schor',
 'sarah l. babb',
 'm. ali kadivar',
 'sharlene j. hesse-biber',
 'wen fan',
 'charles derber',
 'stephen j. pfohl',
 'brian gareau',
 'shawn c. mcguffey',
 'zine magubane',
 'sara moorman',
 'andrew k. jorgenson',
 'natalia sarkisian',
 'm. ali kadivar',
 'gustavo morello',
 'juliet b. schor',
 'sarah l. babb',
 'alyssa goldman',
 'julia chuang',
 'murray melbin',
 'gerald gordon',
 'nazli kibria',
 'martin kozloff',
 'peter yeager',
 'susan eckstein',
 'jeff coulter',
 'annemette sorensen',
 'stephen kalberg',
 'james teele',
 'bernard phillips',
 'daniel monti',
 'merry white',
 'alan wolfe',
 'laurel smith-doerr',
 'nancy t. ammerman',
 'john stone',
 'jeff coulter',
 'peter c. yeager',
 'barmana emily',
 'julian go',
 'stephen kalberg',
 'nazli kibria',
 'susan e. eckstein',
 'david swan‘z',
 'ashley mears',
 'ashley mears',
 'david swartz',
 'jeff coulter',
 'laurel smith-doerr',
 'nancy t. ammerman',
 'alya guseva',
 'peter c. yeager',
 'john stone',
 'catherine connell',
 'susan e. eckstein',
 'stephen kalberg',
 'julian go',
 'barman a. emily',
 'nazli kibria',
 'liah greenfeld',
 'peter c. yeager',
 'laurel smith-doerr',
 'julian go',
 'john stone',
 'susan e. eckstein',
 'japonica brown—saracino',
 'catherine conneli',
 'alya guseva',
 'jeff coulter',
 'nazli kibria',
 'nancy t. ammerman',
 'ashley mears',
 'david swan‘z',
 'ruha benjamin',
 'stephen kalberg',
 'john stone',
 'julian go',
 'ashley mears',
 'david swartz',
 'japonica brown—saracino',
 'laurel smith-doerr',
 'jeff coulter',
 'nazli kibria',
 'peter c. yeager',
 'emilya barman',
 'ruha benjamin',
 'catherine connell',
 'nancy t. ammerman',
 'stephen kalberg',
 'alya guseva',
 'susan e. eckstein',
 'liah greenfeld',
 'catherine connell',
 'liah greenfelcl',
 'stephen kalberg',
 'alya guseva',
 'joseph harris',
 'peter c. yeager',
 'emilya barman',
 'david swan‘z',
 'nazli kibria',
 'jeff coulter',
 'julian go',
 'nancy t. ammerman',
 'ashley mears',
 'john stone',
 'ruha benjamin',
 'susan e. eckstein',
 'japonica brown-saracino',
 'susan e. eckstein',
 'julian go',
 'neha gondal',
 'saida grundy',
 'liah greenfeld',
 'stephen kalberg',
 'ashley mears',
 'joseph harris',
 'nancy t. ammerman',
 'david swan‘z',
 'nazli kibria',
 'alya guseva',
 'japonica brown-saracino',
 'emily a. barman',
 'catherine connell',
 'john stone',
 'neha gondal',
 'john stone',
 'susan e. eckstein',
 'stephen kalberg',
 'liah greenfeld',
 'catherine connell',
 'heba gowayed',
 'julian go',
 'jessica simes',
 'saida grundy',
 'nazli kibria',
 'alya guseva',
 'heather schoenfeld',
 'emily a. barman',
 'deborah carr',
 'ana villarreal',
 'nancy t. ammerman',
 'joseph harris',
 'ashley mears',
 'daniel kleinman',
 'jessica simes',
 'stephen kalberg',
 'heather schoenfeld',
 'nancy t. ammerman',
 'nazli kibria',
 'john stone',
 'heba gowayed',
 'catherine connell',
 'alya guseva',
 'neha gondal',
 'saida grundy',
 'japonica brown-saracino',
 'ashley mears',
 'ana villarreal',
 'susan e. eckstein',
 'joseph harris',
 'liah greenfeld',
 'deborah carr',
 'daniel kleinman',
 'meredith d. pugh',
 'edward g. stockwell',
 'joseph jacoby',
 'franklin goza',
 'ralph wahrman',
 'mostafa nagi',
 'wendy d. manning',
 'theron m. quist',
 'peggy giordano',
 'alfred demaris',
 'stephen a. cernkovich',
 'gary oates',
 'laura sanchez',
 'raymond swisher',
 'gary r. lee',
 'susan l. brown',
 'wendy manning',
 'alfred demaris',
 'monica longmore',
 'kei nomaguchi',
 'l-fen lin',
 'franklin w. goza',
 'jorge chavez',
 'rekha mirchandani',
 'stephen demuth',
 'danielle kuhl',
 'kara joyner',
 'alfred demaris',
 'danielle kuhl',
 'rekha mirchandani',
 'l-fen lin',
 'raymond swisher',
 'jorge chavez',
 'wendy manning',
 'kara joyner',
 'stephen demuth',
 'gary oates',
 'laura sanchez',
 'kei nomaguchi',
 'gary r. lee',
 'susan l. brown',
 'monica longmore',
 'franklin w goza',
 'gary r. lee',
 'monica longmore',
 'kei nomaguchi',
 'rekha mirchandani',
 'kara joyner',
 'jorge chavez',
 'laura sanchez',
 'kelly balistreri',
 'wendy manning',
 'gary oates',
 'alfred demaris',
 'susan l. brown',
 'karen benjamin guzzo',
 'danielle kuhl',
 'stephen demuth',
 'matthew vaneseltine',
 'l-fen lin',
 'franklin w goza',
 'raymond swisher',
 'kei nomaguchi',
 'susan l. brown',
 'kara joyner',
 'wendy manning',
 'raymond swisher',
 'monica longmore',
 'gary oates',
 'alfred demaris',
 'laura sanchez',
 'jorge chavez',
 'gary r. lee',
 'karen benjamin guzzo',
 'kelly balistreri',
 'l-fen lin',
 'matthew vaneseltine',
 'danielle kuhl',
 'stephen demuth',
 'kara joyner',
 'monica longmore',
 'margaret weinberger',
 'jorge chavez',
 'karen benjamin guzzo',
 'linda cornwell',
 'kei nomaguchi',
 'stephen demuth',
 'kelly balistreri',
 'wendy manning',
 'danielle kuhl',
 'l-fen lin',
 'michael strand',
 'michelle pryor-kowalski',
 'matthew vaneseltine',
 'raymond swisher',
 'alfred demaris',
 'gary r. lee',
 'gary oates',
 'laura sanchez',
 'susan l. brown',
 'alfred demaris',
 'margaret weinberger',
 'kelly balistreri',
 'donna kauffman',
 'raymond swisher',
 'wendy manning',
 'gary oates',
 'kara joyner',
 'laura sanchez',
 'l—fen lin',
 'madeline duntley',
 'jorge chavez',
 'matthew vaneseltine',
 'danielle kuhl',
 'monica longmore',
 'karen benjamin guzzo',
 'stephen demuth',
 'meredith gilbertson',
 'kei nomaguchi',
 'susan l. brown',
 'john boman',
 'l-fen lin',
 'margaret weinberger',
 'kara joyner',
 'stephen demuth',
 'karen benjamin guzzo',
 'monica longmore',
 'kelly balistreri',
 'raymond swisher',
 'wendy manning',
 'kei nomaguchi',
 'meredith gilbertson',
 'jenjira j. yahirun',
 'madeline duntley',
 'gary oates',
 'susan l. brown',
 'thomas mowen',
 'laura sanchez',
 'danielle kuhl',
 'john boman',
 'madeline duntley',
 'susan l. brown',
 '|-fen lin',
 'laura sanchez',
 'thomas mowen',
 'kei nomaguchi',
 'wendy manning',
 'gary oates',
 'stephen demuth',
 'danielle kuhl',
 'margaret weinberger',
 'meredith gilbertson',
 'kelly balistreri',
 'jenjira j. yahirun',
 'monica longmore',
 'karen benjamin guzzo',
 'gordon a. fellman',
 'laura j. miller',
 'sara shostak',
 'carmen sirianni',
 'karen m hansen',
 'wendy cadge',
 'peter conrad',
 'gila j. hayim',
 'shulamit reinharz',
 'david cunningham',
 'maurice stein',
 'gordon fellman',
 'karen v. hansen',
 'stefan timmermans',
 'charles fisher',
 'dessima williams',
 'gila hayim',
 'michael macy',
 'george w. ross',
 'carmen sirianni',
 'carmen sirianni',
 'gordon a. fellman',
 'sara shostak',
 'wendy cadge',
 'shulamit reinharz',
 'gila j. hayim',
 'laura j. miller',
 'david cunningham',
 'peter conrad',
 'karen v. hansen',
 'karen v. hansen',
 'laura j. miller',
 'gordon a. fellman',
 'david cunningham',
 'sara shostak',
 'peter conrad',
 'gila j. hayim',
 'wendy cadge',
 'shulamit reinharz',
 'carmen sirianni',
 'karen v. hansen',
 'david cunningham',
 'carmen sirianni',
 'peter conrad',
 'gila j. hayim',
 'wendy cadge',
 'sara shostak',
 'gordon a. fellman',
 'laura j. miller',
 'shulamit reinharz',
 'peter conrad',
 'wendy cadge',
 'gordon a. fellman',
 'shulamit reinharz',
 'karen v. hansen',
 'carmen sirianni',
 'david cunningham',
 'sara shostak',
 'gila j. hayim',
 'laura j. miller',
 'wendy cadge',
 'david cunningham',
 'carmen sirianni',
 'sara shostak',
 'gordon a. fellman',
 'shulamit reinharz',
 'gila haylm',
 'laura j. miller',
 'peter conrad',
 'derron wallace',
 'michael strand',
 'karen v. hansen',
 'david cunningham',
 'karen v. hansen',
 'carmen sirianni',
 'gowri vijayakumar',
 'peter conrad',
 'gordon a. fellman',
 'laura j. miller',
 'michael strand',
 'wendy cadge',
 'derron wallace',
 'gila hayim',
 'sara shostak',
 'siri suh',
 'shulamit reinharz',
 'wendy cadge',
 'karen v. hansen',
 'michael strand',
 'laura j. miller',
 'sarah mayorga',
 'gila hayim',
 'gordon a. fellman',
 'derron wallace',
 'shulamit reinharz',
 'gowri vijayakumar',
 'carmen sirianni',
 'sara shostak',
 'siri suh',
 'stan j. knapp',
 'howard bahr',
 'renata t. forste',
 'brian barber',
 'darwin thomas',
 'john seggar',
 'j. lynn england',
 'marie cornwall',
 'stephen j. bahr',
 'cardell jacobson',
 'vaughan call',
 'tim heaton',
 'lawrence young',
 'james t. duke',
 'dennis hogan',
 'todd l. goodsell',
 'ralph b. brown',
 'leah vanwey',
 'nitsan chorev',
 'j. timmons roberts',
 'cardell k. jacobson',
 'mikaela dufur',
 'marie cornwall',
 'vaughn r. a. call',
 'mark fishman',
 'kenneth gould',
 'ann dill',
 'namita manohar',
 'margot jackson',
 'nancy luke',
 'tamara mose brown',
 'lance d. erickson',
 'david lindstrom',
 'tim b. heaton',
 'susan short',
 'howard bahr',
 'phil brown',
 'naomi braine',
 'jose ltzigsohn',
 'bert burraston',
 'gregory elliott',
 'stan j. knapp',
 'mark suchman',
 'renata t. forste',
 'gertrud lenzer',
 'charles morgan',
 'gianpaolo baiocchi',
 'john p. hoﬁ‘mann',
 'tammy lewis',
 'michael j. white',
 'alex 8. vitale',
 'carol j. ward',
 'david meyer',
 'patrick heller',
 'hilary silver',
 'gregory smithsimon',
 'paget henry',
 'michael kennedy',
 'ebony bridwell—mitcheli',
 'timothy shortell',
 'carolina bank munoz',
 'kristie j. r. phillips',
 'mary fennell',
 'phil brown',
 'michael j. white',
 'vaughn r. a. call',
 'howard bahr',
 'curtis d child',
 'bert burraston',
 'todd l. goodsell',
 'tim b. heaton',
 'david lindstrom',
 'nitsan chorev',
 'gregory smithsimon',
 'jose ltzigsohn',
 'leah vanwey',
 'michael kennedy',
 'gianpaolo baiocchi',
 'marie cornwall',
 'tamara mose brown',
 'gregory elliott',
 'renata t. forste',
 'ann dill',
 'lance d. erickson',
 'gertrud lenzer',
 'ebony brldwell-mitchell',
 'charles morgan',
 'carolina bank munoz',
 'alex 8. vitale',
 'dennis hogan',
 'john p. hoffmann',
 'paget henry',
 'patrick heller',
 'j. timmons roberts',
 'nancy luke',
 'stan j. knapp',
 'naomi braine',
 'susan short',
 'margot jackson',
 'tammy lewis',
 'carol j. ward',
 'kristie j. r. phillips',
 'hilary silver',
 'timothy shorteli',
 'ralph b. brown',
 'cardell k. jacobson',
 'mikaela dufur',
 'namita manohar',
 'stephen j. bahr',
 'kenneth gould',
 'hilary silver',
 'nancy luke',
 'tamara mose brown',
 'david lindstrom',
 'cardell k. jacobson',
 'carol j. ward',
 'emily molina',
 'sharon zukin',
 'dennis hogan',
 ...]

## Merging Dataframes to Produce Actionable Tables

First I want to produce a dataframe with the following columns 

author_string | AuthorId | PaperId | year_published

That at a minimum is what we need to starting to calculate the number of publications each person has by year. First need to do a few merges in the following way:

`filtered_authors.csv` join with `authors2papers.csv` by AuthorId -> `new_df`

`new_df` join with `filtered_papers.csv` by PaperId -> `new_df` 

then drop extra columns as needed.

In [8]:
new_df = authors_df.join(authors2papers.set_index("AuthorId"), on="AuthorId")

In [9]:
papers_df = pd.read_csv('data/filtered_papers.csv')
papers_df = papers_df.drop(columns='Unnamed: 0')
papers_df

,PaperId,Rank,Doi,DocType,PaperTitle,OriginalTitle,BookTitle,Year,Date,OnlineDate,...,FirstPage,LastPage,ReferenceCount,CitationCount,EstimatedCitation,OriginalVenue,FamilyId,FamilyRank,DocSubTypes,CreatedDate
0,204697957,23086,NaN,Repository,1998 annual school leavers survey of 1996 97 l...,1998 annual school leavers' survey of 1996/ '9...,NaN,1999.0,1999-01-01,NaN,...,NaN,NaN,0.0,3.0,3.0,Research Papers in Economics,204697957.0,22661.0,NaN,2016-06-24
1,3125546681,23723,NaN,Repository,1998 annual school leavers survey of 1996 97 l...,1998 Annual School Leavers' Survey of 1996/97 ...,NaN,1999.0,1999-01-01,NaN,...,NaN,NaN,0.0,0.0,0.0,Research Series,204697957.0,22661.0,NaN,2021-02-01
2,232961755,27231,NaN,Book,ohio timber products output 1983,"Ohio Timber Products Output, 1983",NaN,2017.0,2017-12-13,NaN,...,NaN,NaN,0.0,0.0,0.0,NaN,232961755.0,26848.0,NaN,2016-06-24
3,3023278565,27995,NaN,NaN,ohio timber products output 1983,Ohio timber products output - 1983,NaN,1986.0,1986-01-01,NaN,...,NaN,NaN,0.0,0.0,0.0,"Resour. Bull. NE-95. Broomall, PA: U.S. Depart...",232961755.0,26848.0,NaN,2020-05-13
4,3141748840,24173,NaN,Repository,the role of company networks in low tech indus...,The Role of Company Networks in Low-tech Indus...,NaN,2011.0,2011-01-01,NaN,...,NaN,NaN,0.0,1.0,1.0,Chapters,581819997.0,22698.0,NaN,2021-04-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707427,2937540222,21458,10.1109/ACCESS.2019.2911560,Journal,an adaptive region growing based on neutrosoph...,An Adaptive Region Growing Based on Neutrosoph...,NaN,2019.0,2019-04-16,NaN,...,60584,60593,20.0,3.0,3.0,IEEE Access,NaN,NaN,NaN,2019-04-25
707428,3035959220,19989,10.1049/CP.2019.0870,Conference,lattice pilot aided dmt transmission for optic...,Lattice pilot aided DMT transmission for optic...,NaN,2019.0,2019-01-01,2020-07-02,...,NaN,NaN,0.0,3.0,3.0,european conference on optical communication,NaN,NaN,NaN,2020-06-25
707429,3122276979,23065,NaN,Patent,cleaning device for agricultural machine parts,Cleaning device for agricultural machine parts,NaN,2020.0,2020-10-02,NaN,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2021-02-01
707430,3156918301,23018,NaN,Patent,preparation method of polyvinyl chloride glove...,Preparation method of polyvinyl chloride glove...,NaN,2020.0,2020-12-11,NaN,...,NaN,NaN,5.0,0.0,0.0,NaN,NaN,NaN,NaN,2021-04-26
707431,3179641590,23056,NaN,Patent,novel hydraulic creeping formwork construction...,Novel hydraulic creeping formwork construction...,NaN,2021.0,2021-03-19,NaN,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2021-07-19

In [14]:
papers_df = papers_df.set_index("PaperId")
new_df = new_df.join(papers_df, on="PaperId", lsuffix = '_left', rsuffix = '_right')

In [15]:
new_df = new_df.drop(columns=['Rank_left', 'LastKnownAffiliationId', 'PaperCount', 'PaperFamilyCount',
'CitationCount_left', 'CreatedDate_left', 'AffiliationId',
'AuthorSequenceNumber', 'OriginalAuthor', 'OriginalAffiliation',
'Rank_right', 'DocType', 'PaperTitle', 'OriginalTitle',
'BookTitle', 'Date', 'OnlineDate', 'Publisher',
'ConferenceSeriesId', 'ConferenceInstanceId', 'Volume', 'Issue',
'FirstPage', 'LastPage', 'ReferenceCount', 'CitationCount_right',
'EstimatedCitation', 'FamilyId', 'FamilyRank', 'DocSubTypes', 'CreatedDate_right'])

### Success!

Dataframe now has the columns that we need, now just need to do some very simple group by and counting with pandas

In [16]:
new_df

,AuthorId,NormalizedName,DisplayName,PaperId,Doi,Year,JournalId,OriginalVenue
0,184369,charles kurzman,Charles Kurzman,42125917,NaN,2012.0,NaN,NaN
0,184369,charles kurzman,Charles Kurzman,46281322,10.1023/A:1012981320432,2001.0,4.286581e+07,"International Journal of Politics, Culture and..."
0,184369,charles kurzman,Charles Kurzman,66227221,NaN,1988.0,2.764740e+09,Berkeley journal of sociology: a critical review
0,184369,charles kurzman,Charles Kurzman,109068811,NaN,2010.0,NaN,FP: Foreign Policy Edición Española
0,184369,charles kurzman,Charles Kurzman,424566206,NaN,2008.0,NaN,NaN
...,...,...,...,...,...,...,...,...
94876,3187075334,wei zhang,Wei Zhang,2001071146,10.1016/J.PHYSLETA.2009.10.083,2009.0,1.048756e+08,Physics Letters A
94876,3187075334,wei zhang,Wei Zhang,2047327428,10.1063/1.3136905,2009.0,1.052438e+08,Applied Physics Letters
94876,3187075334,wei zhang,Wei Zhang,2048432227,10.1063/1.3263723,2009.0,1.052438e+08,Applied Physics Letters
94876,3187075334,wei zhang,Wei Zhang,2206387149,10.1016/J.ENBUILD.2015.09.074,2015.0,6.846437e+06,Energy and Buildings
94876,3187075334,wei zhang,Wei Zhang,2817230975,NaN,2010.0,NaN,NaN

In [17]:
countByYear = new_df.groupby(['DisplayName','Year']).size().reset_index(name='counts')
countByYear

           DisplayName    Year  counts
0      A Yongjun Zhang  2012.0       1
1      A Yongjun Zhang  2013.0       1
2            A. Aneesh  2000.0       1
3            A. Aneesh  2002.0       1
4            A. Aneesh  2004.0       1
...                ...     ...     ...
62767    Ángela García  2014.0       3
62768    Ángela García  2015.0       5
62769    Ángela García  2018.0       1
62770    Ángela García  2020.0       1
62771  ⋅Hye-Young Kwon  2021.0       2

[62772 rows x 3 columns]

In [18]:
jlm = countByYear[countByYear['DisplayName'] == "John Levi Martin"]
jlm

            DisplayName    Year  counts
27310  John Levi Martin  1962.0       1
27311  John Levi Martin  1995.0       1
27312  John Levi Martin  1996.0       1
27313  John Levi Martin  1998.0       2
27314  John Levi Martin  1999.0       3
27315  John Levi Martin  2000.0       3
27316  John Levi Martin  2001.0       3
27317  John Levi Martin  2002.0       2
27318  John Levi Martin  2003.0       5
27319  John Levi Martin  2004.0       1
27320  John Levi Martin  2005.0       3
27321  John Levi Martin  2006.0       4
27322  John Levi Martin  2007.0       1
27323  John Levi Martin  2009.0      11
27324  John Levi Martin  2010.0       2
27325  John Levi Martin  2011.0       9
27326  John Levi Martin  2012.0       1
27327  John Levi Martin  2013.0       1
27328  John Levi Martin  2014.0       5
27329  John Levi Martin  2015.0       7
27330  John Levi Martin  2016.0       6
27331  John Levi Martin  2017.0       2
27332  John Levi Martin  2018.0       9
27333  John Levi Martin  2019.0       3
27334  John Levi Martin  2020.0       4
27335  John Levi Martin  2021.0       3

In [23]:
# Computing sum over Index axis
jlm['cumsum'] = jlm['counts'].cumsum()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
jlm

            DisplayName    Year  counts  cumsum
27310  John Levi Martin  1962.0       1       1
27311  John Levi Martin  1995.0       1       2
27312  John Levi Martin  1996.0       1       3
27313  John Levi Martin  1998.0       2       5
27314  John Levi Martin  1999.0       3       8
27315  John Levi Martin  2000.0       3      11
27316  John Levi Martin  2001.0       3      14
27317  John Levi Martin  2002.0       2      16
27318  John Levi Martin  2003.0       5      21
27319  John Levi Martin  2004.0       1      22
27320  John Levi Martin  2005.0       3      25
27321  John Levi Martin  2006.0       4      29
27322  John Levi Martin  2007.0       1      30
27323  John Levi Martin  2009.0      11      41
27324  John Levi Martin  2010.0       2      43
27325  John Levi Martin  2011.0       9      52
27326  John Levi Martin  2012.0       1      53
27327  John Levi Martin  2013.0       1      54
27328  John Levi Martin  2014.0       5      59
27329  John Levi Martin  2015.0       7      66
27330  John Levi Martin  2016.0       6      72
27331  John Levi Martin  2017.0       2      74
27332  John Levi Martin  2018.0       9      83
27333  John Levi Martin  2019.0       3      86
27334  John Levi Martin  2020.0       4      90
27335  John Levi Martin  2021.0       3      93

In [27]:
aabbott = countByYear[countByYear['DisplayName'] == "Andrew Abbott"]
# Computing sum over Index axis
aabbott['cumsum'] = aabbott['counts'].cumsum()
aabbott

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        DisplayName    Year  counts  cumsum
1915  Andrew Abbott  1978.0       1       1
1916  Andrew Abbott  1979.0       1       2
1917  Andrew Abbott  1980.0       1       3
1918  Andrew Abbott  1981.0       2       5
1919  Andrew Abbott  1983.0       3       8
1920  Andrew Abbott  1984.0       3      11
1921  Andrew Abbott  1986.0       5      16
1922  Andrew Abbott  1988.0       3      19
1923  Andrew Abbott  1989.0       3      22
1924  Andrew Abbott  1990.0       6      28
1925  Andrew Abbott  1991.0       3      31
1926  Andrew Abbott  1992.0       3      34
1927  Andrew Abbott  1993.0       2      36
1928  Andrew Abbott  1994.0       1      37
1929  Andrew Abbott  1995.0       3      40
1930  Andrew Abbott  1996.0       1      41
1931  Andrew Abbott  1997.0       4      45
1932  Andrew Abbott  1998.0       2      47
1933  Andrew Abbott  1999.0       3      50
1934  Andrew Abbott  2000.0       3      53
1935  Andrew Abbott  2001.0       4      57
1936  Andrew Abbott  2002.0       2      59
1937  Andrew Abbott  2003.0       2      61
1938  Andrew Abbott  2004.0       4      65
1939  Andrew Abbott  2005.0       3      68
1940  Andrew Abbott  2006.0       5      73
1941  Andrew Abbott  2007.0       9      82
1942  Andrew Abbott  2008.0       5      87
1943  Andrew Abbott  2009.0       2      89
1944  Andrew Abbott  2010.0       4      93
1945  Andrew Abbott  2011.0       3      96
1946  Andrew Abbott  2012.0       2      98
1947  Andrew Abbott  2013.0       3     101
1948  Andrew Abbott  2014.0       5     106
1949  Andrew Abbott  2015.0       5     111
1950  Andrew Abbott  2016.0      13     124
1951  Andrew Abbott  2017.0       2     126
1952  Andrew Abbott  2018.0       5     131
1953  Andrew Abbott  2019.0      11     142
1954  Andrew Abbott  2020.0      11     153
1955  Andrew Abbott  2021.0       5     158

### Times Cited

Before moving on to h-index, impact factors and the weighted productivity score, I need to start by getting the number of times the focal authors papers are cited.

In [32]:
cited = pd.read_csv('filtered_cited.csv')
cited = cited.drop(columns ='Unnamed: 0')

Very quickly we can get a sense of how many times each papers has been cited, but this is for all time. To get a sense of the growth of citations, and to create time series data from the citations, to match our network data, we have to get the year the citing work were published. 

The reason that we only need the year the citing work was published is that presumably a citing paper cannot have been published after the cited work. Once we have a dataframe that looks like:

`PaperId` | `year_published` | `PaperReferenceId`

all we will need to do is to run something that looks like 

`counted.groupby(['PaperReferenceId','year_published']).size().reset_index(name='counts')`

In [40]:
counted = cited.groupby(['PaperReferenceId']).size().reset_index(name='counts')
counted

        PaperReferenceId  counts
0                   4794       1
1                  28888       2
2                  38178       3
3                 109026       6
4                 203350      20
...                  ...     ...
415863        3186951633      20
415864        3187010034       3
415865        3187057173       1
415866        3187057697       2
415867        3187062430       3

[415868 rows x 2 columns]

In [41]:
len(set(cited.PaperId))

6664786